// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;

// Our color scheme:
$accent-purple: #BF5B8D;
$pastel-gray: #D7D3B0;
$accent-blue: #82BCB7;
$black: #393D3F;
$white: #FDFDFF;
$light-gray: #F4F4F4;
