.add-puppy-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 1100px;
  align-items: center;

}

.form-control.text.optional {
  margin-top: 43px;
  border-radius: $border-radius;
}

.form__sign-up-message {
  select {
    color: #989898 !important;
  }
}

.add_puppy.banner {
  height: 100vh;
}
