.add-puppy-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  width: 1100px;
  align-items: center;

}

.form-control.text.optional {
  margin-top: 43px;
  border-radius: $border-radius;
}

.add-form__description h2 {
  line-height: 1.4;
}
