.intro {
  background-color: $pastel-gray;
  height: 40vh;
  display: flex;
  align-items: center;
  height: 50vh;
  margin-bottom: 60px;

  img {
    width: 150px;
    height: 40px;
    margin-bottom: 17px;
  }
  h3 {
    text-align: bottom;
    line-height: 40px;
  }
  h4 {
    line-height: 40px;
  }
  .btn_pupp {
    margin-top: 25px;
  }
  p {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.intro__title {
  margin-right: $margin;
  margin-left: $margin;
}

.cards-container {
  margin: 40px 135px 0px 110px;
  display: flex;
  justify-content: space-between;
  h2 {
    margin-left: 35px;
  }
}

.card {
  margin: 25px;
}
