#profile_page_container {
  margin: 0px 135px;
  margin-top: 30px;

  .card {
    width: 100%;
    margin: 0px;
    box-shadow: none;

  }

  .my_puppies_container {
    margin-top: -6px;

    a{
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

  .babysitting_container {
    margin-top: 55px;

    a{
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: none;
        color: black;
      }
    }
  }

}


.profile.bannvatar__image {
  left: unset;
  right: 135px;
}


.info {
  background-color: $white;
  margin: 0px 135px;
  margin-top: 88px;
}

.info__header {
  font-size: 35px;
  padding: 10px 0px;
}

.info__list {
  padding-bottom: 30px;
    ul {
      list-style-type: none;
    }

    li {
      padding: 10px 0px;
      font-size: 20px;
    }

    strong {
      font-weight: bold;
    }

}
.info__button {
  padding-left: 0px 30px;
}


