.profile_page_container {
  margin: 0px 135px;
  margin-top: 30px;
}

.info {
  background-color: $white;
  margin: 0px 135px;
  margin-top: 50px;
}

.info__header {
  font-size: 35px;
  padding: 10px 0px;
}

.info__list {
  padding-bottom: 30px;
    ul {
      list-style-type: none;
    }

    li {
      padding: 10px 0px;
      font-size: 20px;
    }

    strong {
      font-weight: bold;
    }

}
.info__button {
  padding-left: 0px 30px;
}

.listings {
  // margin-bottom: 250px;

}

.message {
  width: 463px;
}
