#show_puppy_page {
  .show_puppy_container {
    margin-top: 141px;
    margin-left: $margin;
    margin-right: $margin;
    display: flex;
    flex-direction: row;
    padding-bottom: 76px;
  }

  .content_container {

  }

  .content_title {
    font-size: 40px;
    font-family: $headers-font;
    margin-top: 30px;
    margin-bottom: 11px;

  }

  .content_pg {

  }

  .desc_list {
    list-style-type: none;
  }

  .form_container {
    margin-left: 40px;
  }

  .form{
    min-width: 304px;
  }

  .form__content {
    select {
      width: 40%;
    }

    .form-inline {
      text-align: center;
    }
  }
}
