.puppy-show__banner {
  background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://images.unsplash.com/photo-1525253013412-55c1a69a5738?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa9feeafa35aafd43a4f9c90c8a9ef7&auto=format&fit=crop&w=2550&q=80);
  filter: grayscale(80%);
  background-size: cover;
  background-position: center;
  padding: 150px;
  text-align: center;
  color: white;
  margin: 0px;
  height: 40vh;
}

.puppy-show__top {
  padding: 30px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
}

.puppy-show__image {
  background-size: cover;
  background-position: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: -115px;
  border: 1px solid $black;
  z-index: 1;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

}

.puppy-show__info {
  text-align: center;
  border: 1px solid $pastel-gray;
  margin: 0px 20px 30px 0px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}


.puppy-show__message {
  text-align: center;
  border: 1px solid $pastel-gray;
  margin: 0px 20px 30px 0px;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

}

.puppy-show__button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.puppy-show__background {
  background-color: $light-gray;

}
