<button id="myBtn">Book</button>


<div id="myModal" class="modal">


  <div class="modal-content">
    <span class="close">&times;</span>
    <h1><strong>Confirmed!</strong></h1>
    <p>You are hanging out with <%= @puppy.name.capitalize %> from </p>
  </div>

</div>
