<div class="about">
  <div class="about__header">
    <h1>Hello, we're Pupp!</h1>
  </div>
  <div class="about__text">
    Like most people, we love puppies, and we want to make it easier for people to hang out with them. We also know that having a puppy can be a ton of work, and we want to give owners a much needed break. So, that's where we come in! We connect puppy owners with puppy enthusiasts. Renters can book a puppy date for a few hours a day, and owners can get away.
  </div>
  <div>
    <a class='btn_pupp' href="/search">Find a Puppy!</a>
  </div>
</div>
