<div class="banner" style="background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,0.8) 100%), url('https://images.unsplash.com/photo-1519705733052-abc8faae00f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=521fb44ff67ece7efe8f268d3d2d7e29&auto=format&fit=crop&w=1651&q=80');">
  <div class="banner__intro">
    <h1>Puppies are awesome.</h1>
    <h3><strong>Babysit</strong> one</h3>
    <button class="btn_pupp">Find a puppy</button>
  </div>
</div>
<div class="intro">
  <div class="intro__title">
    <h3>Hi, we're<%= image_tag 'PUPP.svg' %> </h3>
    <h4> If there’s one thing we can all agree upon, it’s that puppy’s are awesome. We connect dog owners and people who want to hang out with puppies.  Puppies can be a big investment, and a ton of work. Maybe you’re looking to test the waters of what it might be like? Or maybe you just want to hang out with a little puppy. Either way, we’ve got you covered. </h4>
    <button class="btn_pupp">Find a puppy</button>
  </div>

</div>



