<div>
  <div class="bannvatar">
    <div class= "bannvatar__banner" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(https://images.unsplash.com/photo-1470390356535-d19bbf47bacb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=95074e295d3508187f3ec4825c9ab0ba&auto=format&fit=crop&w=1650&q=80)"></div>
    <div class="bannvatar__image" style="background-image: url(https://img.freepik.com/free-icon/user-avatar-main-picture_318-85015.jpg?size=338&ext=jpg)"></div>
  </div>
</div>
<div class="info">
  <div class="info__header">
    <h1>Your Profile Information</h1>
  </div>
  <div class="info__list">
   <ul>
     <li><strong>Name: </strong>Tom Patton</li>
     <li><strong>Name: </strong>Tom Patton</li>
     <li><strong>Name: </strong>Tom Patton</li>
   </ul>
  </div>
  <div class="info__button">
    <a class='btn_pupp' href="">Click Me</a>
    <a class='btn_pupp' href="">Click Me</a>
  </div>
</div>
<div class="profile_page_container">
  <div class="row">
    <div class="col-xs-12">
      <div class="tabs">
        <a class="tabs__tab active pup" href="#">
          <h3 class="tabs__tab_text" id="puppy_button">PUPPIES LISTED</h3>
        </a>
        <a class="tabs__tab but" href="#">
          <h3 class="tabs__tab_text" id="bookings_button">PUPPIES BOOKED</h3>
        </a>
      </div>
      <div class="listings">
        <div class="puppy_listings">
          <div class="message">
            <div>
              <img class="avatar--large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
            </div>
            <div>
              <div class="message__name">
                <h3>Gab Dehan</h3>
              </div>
              <div class="message__date">

              </div>
            </div>
            <div class="message__body">
              <div class="message__element">
                <span><strong>NAME:</strong></span>
                <span>Honey</span>
              </div>
              <div class="message__element">
                <span><strong>AGE:</strong></span>
                <span>2 years old</span>
              </div>
              <div class="message__element">
                <span><strong>LOCATION:</strong></span>
                <span>Barcelona, Spain</span>
              </div>
            </div>
            <div class="message__status">
              <p class="status--pending">Pending</p>
            </div>
          </div>
        </div>
          <div class="bookings_listings" style="display: none;">
            <div class="message">
              <div>
                <img class="avatar--large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
              </div>
              <div>
                <div class="message__name">
                  <h3>Gab Dehan</h3>
                </div>
                <div class="message__date">
                  <p>2:00PM - 5:00 PM</p>
                </div>
              </div>
              <div class="message__body">
                <div class="message__element">
                  <span><strong>NAME:</strong></span>
                  <span>Honey</span>
                </div>
                <div class="message__element">
                  <span><strong>AGE:</strong></span>
                  <span>2 years old</span>
                </div>
                <div class="message__element">
                  <span><strong>LOCATION:</strong></span>
                  <span>Barcelona, Spain</span>
                </div>
              </div>
              <div class="message__status">
                <p class="status--pending">Pending</p>
                <p class="price">Free</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
