<div class="tabs">
  <a class="tabs__tab active pup" href="#">
    <h3 class="tabs__tab_text" id="puppy_button">My Puppies</h3>
  </a>
  <a class="tabs__tab but" href="#">
    <h3 class="tabs__tab_text" id="bookings_button">My Booked Puppies</h3>
  </a>
</div>
<div class="listings">
  <div class="puppy_listings">

  </div>
  <div class="bookings_listings" style="display: none;">

  </div>
</div>
