.banner {
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;

  height: 100vh;
}

.banner__intro {
  position: relative;
  margin-left: $margin;
  text-align: left;
  opacity: 1;
  line-height: 100px;
  h1 {
    font-weight: 500px;
    line-height: 100px;
  }
  strong {
    color: $accent-blue;
  }
  .btn_pupp {
    margin-top: 40px;
    line-height: 25px;
  }
}

