.bannvatar {
  position: relative;
}

.bannvatar__banner {
  background-size: cover;
  background-position: center;
  height: 60vh;
}

.bannvatar__image {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  left: 135px;
}

// <div class="bannvatar">
//   <div class= "bannvatar__banner" style="background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(http://www.placepuppy.net/<%=rand(1..20)%>p/1300/600);
// "></div>
//   <div class="bannvatar__image" style="background-image: url(img_url)"></div>
// </div>
