.banner {
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.banner__intro {
  position: relative;
  padding: 35px;
  text-align: left;
  opacity: 1;
  line-height: 100px;
  h1 {
    font-weight: 500px;
    line-height: 100px;
  }
  strong {
    color: $accent-blue;
  }
  .btn_pupp {
    margin-top: 40px;
    line-height: 25px;
  }
}

