.btn-pupp{
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $accent-purple;
  opacity: .9;
  transition: background 0.3s ease;
}
.btn-pupp:hover {
  opacity: 1;
  background: $accent-purple;
  text-decoration: none;
  color: white;
}
