.btn_pupp{
  color: white;
  padding: 11px 50px;
  border-radius: 23px;
  background: #82BCB7;
  opacity: .9;
  transition: background 0.3s ease;

  &:hover {
    opacity: 1;
    color: white;
  }
}

//<a class='btn_pupp' href="">Click Me</a>
