.footer {
  background: $black;
  height: 60px;
  width: 100%;
  padding: 0px 35px;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: $light-gray;
  font-size: 10px;
}

.footer__left {
  display: flex;
  justify-content: space-around;
  width: 220px;
}

.footer__icon {
  color: $white;
  font-size: 18px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.footer__right {}
