.form {
  background-color: transparent;
  color: $white;
  max-width: 366px;
  max-height: 570px;
}

.form__content {
  input, select {
    margin-top: 45px;
  }
}

.form_text {
  font-size: 20px;
}

.form__title {
  padding: 24px 0px;
  background-color: $black;
  text-align: center;
}

.form__submit {
  background-color: $accent-blue;
  width: 100%;
  padding: 11px;
  margin-top: 45px;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.form__links {
  font-size: 14px;
  margin-top: 15px;

  a {
    color: $accent-blue;
    opacity: 0.6;
    &:hover {
      color: $accent-blue;
      opacity: 1;
    }
  }
}

.form-group {
  margin: 0px
}

// <div class="form">
//   <div class="form__title">
//     <div class="form__text">FORM TEXT</div>
//   </div>
//   <%= minimal_form_for @OBJECT do |f| %>
//     <div class="form__content">
//       <%= f.input :FIELD %>
//       <%= f.input :FIELD  %>
//       <%= f.input :FIELD %>
//     </div>
//     <div class="form-actions">
//       <%= f.button :submit, "TEXT", class:'form__submit form__text'%>
//     </div>
//   <% end %>
// </div>

