// Import your components CSS files here.
@import "alert";
@import "banner";
@import "avatar";
@import "tab";
@import "form";
@import "button";
@import "card";
@import "message";
@import "navbar";
@import "footer";
@import "bannvatar";

// class names use one '_'; btn_pupp
// Elements inside the component take the comp name and
//  get their name added after a '__'; btn_pupp__text
// A change in components attribute (size, color, etc)
//  is described with '--'; btn_pupp--lg

