.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-size: cover;
    background-position: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

//<button id="choosebtn">Book</button>


//<div id="puppModal" class="modal">


//  <div class="modal-content">
//    <span class="close">&times;</span>
//    <h1><strong>Confirmed!</strong></h1>
//    <p>You are hanging out with <%= @puppy.name.capitalize %> from </p>
//  </div>

//</div>
