.tabs {
  background: $white;
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tabs__tab_text {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0px;
  color: $light-gray;
}

.tabs__tab {
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  background-color: $black;

  &.active {
    background: white;
    background: $accent-purple;
    color: white;
  }

  &.active > .tabs__tab_text {
    color: white;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }
}
